@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: 
    linear-gradient(to right, #000a, #000a),
    url('../images/background3.jpg');
  background-position: center, center;
  background-size: cover, cover;
  background-blend-mode: normal;
  background-attachment: fixed;
  font-family: 'Bebas Neue';
}

p {
  font-family: 'Times New Roman', Times, serif;
  text-indent: 1rem;
  line-height: 1.75rem;
  text-align: justify;
  padding-bottom: 1rem;

  > i {
    text-decoration: line-through;
    &:hover {
      text-decoration: underline;
    }
  }
}

a {
  color: yellow;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.15rem;
  list-style-type: square;
  margin-left: 1rem;
  margin-bottom: 1rem;
  li {
    margin: 1rem 0;
  }
}

small {
  font-family: 'Courier New', Courier, monospace;
}

img {
  @include colorTheme();
}

/*=======================
        HEADERS
=======================*/

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

h4 {
  font-size: large;
}

h5 {
  font-size: medium;
}

h6 {
  font-size: medium;
}