
.special-mention {

  
  margin: 0 2.5rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;

  @include colorTheme();


  h3 {
    font-family: 'Courier New', Courier, monospace;
  }

  img {
    border-radius: 50%;
  }
  
  a {
    display: flex;
    align-items: center;
    float: right;
    width: fit-content;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
  }

  svg {
    font-size: 2rem;
    margin-right: 1rem;
  }

}